<div style="display: flex; flex-direction: column; align-items: center;">
  <h2 class="text-warning">Sign in</h2>
  <form style="width: 90%;" class="text-white" #singInForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" [(ngModel)]="user.password">
    </div>
    <button type="submit" class="btn btn-warning btn-block">Submit</button>
  </form>
  <span class="divider text-white my-2">or</span>
</div>