<div class="card text-white bg-dark h-100 border-0 released-movie-card">
  <img src="{{movie.thumbNail}}" class="card-img-top" alt="" [routerLink]="['/movie', movie.id]"
    style="cursor: pointer;">
  <div class="card-body d-flex flex-column">
    <p class="card-text text-muted">
      <fa-icon [icon]="faStar" style="color: yellow;"></fa-icon> {{movie.rating.toFixed(1)}}
    </p>
    <h5 class="card-title released-movie-name" [routerLink]="['/movie', movie.id]">{{movie.name}}</h5>
    <button class="btn btn-warning btn-block mt-auto" (click)="addToWatchlist(movie.id)">
      <fa-icon [icon]="faPlus"></fa-icon> Watchlist
    </button>
  </div>
</div>